.story_container {
    display: flex;
    gap: .5rem;
}

.story_card {
    width: 8vw;
    max-height: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.story_card:hover {
    transform: scale(1.1);
    transition: all .2s;
}
.add_story_picture {
    position: relative;
    width: 100%;
    height: 80%;
}
.add_story_picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add_story_icon {
    position: absolute;
    background-color: var(--blue-color);
    padding: 4px;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story_text  {
    font-size: 12PX;
    padding: .5rem;
    margin-top: 5px;
}
.story_picture {
    position: relative;
    width: 100%;
    height: 100%;
}
.story_picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story_picture span{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;

}

.story_profile_picture {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    left: 2px;
}
.story_profile_picture {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--blue-color);
}
.home_middle_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 900px) {
    .story_card {
        width: 10vw;
    }
}
@media (max-width: 800px) {
    .story_card {
        width: 11vw;
    }
}
@media (max-width: 700px) {
    .story_card {
        width: 12vw;
    }
}
@media (max-width: 500px) {
    .story_card {
        width: 13vw;
    }
}

@media (max-width: 485px) {
    .story_card {
        width: 17vw;
    }
    .home_middle_container {
        padding: .5rem;
    }
}

.verify_warning_container {
    background-color: var(--bg-primary);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    width: 100%;
    font-size: 12px;
}

.verification_warning_message {
    font-size: 12px;
}

.resend_verification {
    text-decoration: underline;
    color: var(--blue-color);
    cursor: pointer;
}
