.home_left_container {
    background-color: var(--bg-secondary);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

.home_left_profile {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.home_left_profile_picture {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    min-width: 40px;
}

.home_left_profile_picture img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.home_left_link {
    margin-bottom: .5rem;
}
.home_left_link_icon,
.home_letf_shortcut_icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.home_letf_shortcut_icon{
    padding: .5rem;
}
.home_letf_shortcut > p{
    color: var(--color-secondary);
    font-size: 14px;
    margin-bottom: 1rem;
}
.home_letf_shortcut_icon img{
    width: 24px;
}
.home_left_link_icon img {
    width: 36px;
}
.home_left_icon_details_name {
    font-size: 14px;
}

.home_left_icon_details_notification {
    font-size: 12px;
}

.home_left_link_icon.see_more {
    padding: .5rem;
}

.home_left_icon_details_notification {
    display: flex;
    align-items: center;
    gap:4px
}
.home_left_icon_details_notification_dot {
    height: 10px;
    width: 10px;
    background-color: var(--blue-color);
    border-radius: 100%;
}

@media (max-width: 900px) {
    .home_left_container {
        max-width: 250px;
    }
}
@media (max-width: 800px) {
    .home_left_container {
        width: 80px;
    }
    .home_left_profile_name {
        display: none;
    }
    .home_left_icon_details_name {
        display: none;
    }
    .home_left_icon_details_notification {
        display: none;
    }
}
@media (max-width: 530px) {
    .home_left_container {
        padding: .5rem;
    }
}