.header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    background-color: var(--bg-primary);
    box-shadow: 1px 8px 15px -7px var(--shadow-2);
    padding: .5rem 1rem;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

.header .header_left {
    display: flex;
    gap: 1rem;
}
.header  .header_search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-color-secondary);
    padding-left: .5rem;
    border-radius: 25px;
    overflow: hidden;
}

.search_area_header_search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-color-secondary);
    padding-left: .5rem;
    border-radius: 25px;
    overflow: hidden;
}
.header_search input{
    padding: .5rem;
    width: 100%;
    max-width: 360px;
    border: none;
    background-color: var(--bg-primary);
    outline: none;
    font-size: 1rem;
}

.search_area_header_search input{
    padding: .5rem;
    width: 100%;
    max-width: 360px;
    border: none;
    background-color: var(--bg-primary);
    outline: none;
    font-size: 1rem;
}
.header .icon {
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.header .header_middle {
    width: 100%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hover1:hover {
    background-color: var(--bg-third);
    border-radius: 10px;
}
.hover2:hover {
    background-color: var(--bg-third);
    border-radius: 100%;
}
.hover3{
    padding: 5px 10px;
    cursor: pointer;
}
.hover3:hover {
    background-color: var(--bg-third);
    border-radius: 5px;
}
.header .header_right {
    justify-self: end;
    display: flex;
    gap: .6rem;
}

.header .header_right .icon {
    background-color: var(--dark-color-secondary);

    border-radius: 50%;
}

.header .header_right .icon:hover {
    background-color: var(--bg-third);
}

.header .account{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.header .account img{
    border-radius: 50%;
    cursor: pointer;
}

.header .account img:hover{
    background-color: var(--bg-third);
}

.header_middle .icon {
    width: 100%;
}
.header .active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--blue-color);
    bottom: -5px;

}

.header .icon_inner {
    position: relative;
}
.header_tag {
    position: absolute;    
    top: -6px;
    right: -6px;
    background-color: red;
    color: #fff;
    padding: 4px;
    font-size: 10px;
    border-radius: 100%;
}

.search_area {
    color: #65676b;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    box-shadow: 0px 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    border-radius: 0 10px 10px 0;
    transition: all .2s;
    min-height: 400px;
    max-height: 70vh;
    padding: 1rem;
    max-width: 360px;
    gap: 1rem;
    width: 295px;
    z-index: 1;
}

.search_input {
    display: flex;
    align-items: center;
    gap: 4px
}

.search_result {
    width: 100%;
}

.search_result p {
    font-weight: bold;
}

.result-item {
    display: flex;
    justify-content: space-between;
}

.result-item a {
    cursor: pointer;
}

.search_area .header_search {
    width: 230px;
}

.all_menu_area {
    position: absolute;
    top: 50px;
    right: 20px;
    height: 80vh;
    background-color: var(--bg-forth);
    box-shadow: 0px 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    padding: 1rem;
    border-radius: 10px;
    z-index: 100;
}

.menu_item {
    display: flex;
    gap: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.all_menu_title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}
.menu_item_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_menu_left {
    background-color: var(--bg-primary);
    padding: .5rem;
    width: 260px;
    height: 100%;
    overflow-y: auto;
}

.all_menu_left .devider{
    margin: .5rem 0;
}
.menu_item_name {
    font-weight: bold;
    font-size: 14px;
}
.menu_item_description {
    font-size: 12px;
    color: var(--color-secondary);
}

.all_menu_body{
    height: 95%;
    display: flex;
    gap: 1rem;
}

.all_menu_left_category {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.all_menu_right {
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    padding: .5rem;
    height: 100%;
    gap: 1rem;
}

.right_menu_item {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.right_menu_item_icon  {
    padding: 8px;
    background-color: var(--bg-third);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_menu_right_category {
    font-weight: bold;
    font-size: 17px;
}

.user_menu_wrapper {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: var(--bg-primary);
    box-shadow: 0px 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 300px;
    z-index: 99;
}

.user_menu_profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
}
.user_menu_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

.user_menu_profile_details_name {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.user_menu_profile_details_see_profle {
    font-size: 12px;
}

.user_menu_feedback {
    display: flex;
    gap: 1rem;
    color: var(--color-secondary);
}
.user_menu_icon {
    background-color: var(--bg-third);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    
}

.user_menu_feedback_title {
    font-size: 14px;

}
.user_menu_feedback_help{
    font-size: 12px;
}

.user_menu_option {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.user_menu_option:hover {
    background-color: var(--bg-third);
}
.user_menu_option_right_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transform: scale(.7);
}

.user_menu_option_text {
    font-size: 14px;
}

.user_menu_option_header {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.user_menu_option_title {
    font-weight: bold;
}

.user_menu_option_back {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;}
.user_menu_option_back:hover {
    cursor: pointer;
    background-color: var(--bg-third);
    border-radius: 100%;
}

.user_menu_display_option {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user_menu_option_item {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.user_menu_option_item_icon {
    background-color: var(--bg-third);
}

.user_menu_option_item_details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.user_menu_option_item_details_title {
    font-size: 14px;
    font-weight: bold;
}
.user_menu_option_item_details_help {
    font-size: 12px;
    color: var(--color-secondary);
}

.user_menu_option_display_radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_menu_option_display_radio input {
    width: 20px;
    height: 20px;
    accent-color: var(--color-secondary)
}

.header_account_active {
    border: 2px solid var(--blue-color);

}

@media (max-width: 1040px) {
    .header .header_search {
        padding: 10px;
        border-radius: 100%;
        height: 41px;
        width: 41px;
    }
    .header .header_search input {
        display: none;
    } 
    .header .header_left {
        align-items: center;
    }
    
}

@media (max-width: 650px) {
    .header_middle div:nth-child(5){
        display: none;
    }
}

@media (max-width: 570px) {
    .header_middle div:nth-child(4){
        display: none;
    }
}

@media (max-width: 500px) {
    .header_middle div:nth-child(3){
        display: none;
    }
    
    .all_menu_left {
        overflow-y: unset;
        height: auto;
    }
    .all_menu_right{
        width: 100%;
    }
    .all_menu_body {
        flex-direction: column;
        height: 95%;
        overflow-y: auto;
    }
}
@media (max-width: 425px) {
    .header_middle div:nth-child(1){
        display: none;
    }
}