.post_popup_container {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: var(--bg-primary);
    padding: 1rem;
    box-shadow: 0 12px 20px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2), inset 0 0 0 1px var(--shadow-inset);
    /* height: 400px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.post_popup_user_section {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.post_popup_user_section img {
    width: 40px;
    border-radius: 100%;
}
.post_popup_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_popup_title p {
    font-weight: bold;
}

.post_popup_access {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--bg-third);
    padding: 4px;
    justify-content: center;
    border-radius: 5px;
}
.post_popup_access img{
    width: 12px;
}
.post_popup_access p {
    font-size: 12px;
}
.post_popup_user_name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.post_popup_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.post_popup_body textarea {
    width: 100%;
    height: 150px;
    border: none;
    padding: .5rem;
    background: transparent;
    resize: none;
}

.post_popup_text_area textarea:focus-visible {
    border: none;
    outline: none;
}

.post_popup_input_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: .5rem;
}

.post_popup_input_action img {
    width: 30px;
    cursor: pointer;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}

.bg_handler {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.bg_handler textarea{
    text-align: center;
    height: 250px;
    color: var(--color-secondary);
    font-size: 16px;
}

.post_popup_input_action_none {
    width: 30px;
    height: 30px;
    background-color: var(--bg-third);
    border-radius: 5px;
    cursor: pointer;
}
.post_popup_input_action i:hover{
    filter: invert(80%);
}
.post_popup_emoji_picker {
    position: absolute;
    left: 60%;
    bottom:30px
}

.add_to_post {
    display: flex;
    align-items: center;
    border: 1px solid var(--bg-third);
    padding: .5rem;
    gap: .5rem;
    border-radius: 5px;
}

.add_to_post_title {
    font-size: 14px;
    flex: 1;
}

.add_to_post i,
.add_to_post svg {
    cursor: pointer;
}

.post_popup_text_area_image_only {
    height: 30px;
    width: 100%;
}
.post_popup_text_area_image_only textarea {
    height: 100%;
    overflow: hidden;
}
.post_popup_input_area_image_only {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.image_preview_box {
    width: 100%;
    height: 300px;
    border: 1px solid var(--bg-third);
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.image_preview_photo_box {
    width: 100%;
    height: 80%;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image_preview_photo_icon {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.image_preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.add_photo_video_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_photo_video_item p:first-of-type {
    font-weight: bold;
}
.add_photo_video_item p:last-of-type {
    font-size: 12px;
    color: var(--color-secondary);
}
.image_preview_mobile_box {
    display: flex;
    background-color: var(--bg-third);
    padding: .5rem;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}
.image_preview_mobile_icon {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: .5rem;

}
.image_preview_mobile_box button {
    width: 50px;
}

.image_preview_images:hover .image_preview_actions{
    display: flex;
}
.image_preview_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0 1rem;
    display: none;
}
.image_preview_action_left {
    display: flex;
    gap: 1rem;
}
.image_preview_action_right{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}
.image_preview_actions button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.image_preview_images {
    overflow: auto;
}

.image_preview_image {
    display: grid;
    gap: .5rem;
    overflow: hidden;
    border-radius: 5px;
}
.image_preview_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview_1 {
    width: 100%;
    height: 100%;
}
.preview_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.preview_2 img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.preview_3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.preview_3 img,
.preview_4 img,
.preview_5 img,
.preview_even img,
.preview_odd img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.preview_3 img:nth-child(1) {
    grid-column: 1/3;
}
.preview_4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.preview_4 img:nth-child(1) {
    grid-column: 1/4;
}
.preview_5 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.preview_5 img {
    grid-column: auto/span 2;
}

.preview_5 img:nth-child(1),
.preview_5 img:nth-child(2) {
    grid-column: auto/span 3;
}
.preview_even,
.preview_odd {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.preview_odd img:nth-child(1) {
    grid-column: 1/3;
}

.bg_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post_error_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-primary);
    opacity: .8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: errorAmin .3s;
}

@keyframes errorAmin {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.post_error_container p {
    font-weight: bold;
    color: var(--error-color);
}
.post_error_container button{
    width: 80px;
}